

body {
    display: flex;
    background-image: url(./img/cartographer.png);
    background-size: 50%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header {
    padding: 15px;
    text-align: center;
    background: #13293d;
    outline: 5px rgb(39, 41, 39) outset;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 35px;
    font-family: monospace;
    color: darkorange;
    font-weight: bold;
    width: 100vw;
  }

  .start-button {
    display: flex;
    width: 20vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-variant: all-petite-caps;
  }

  .questionContainer {
    flex: 0 auto;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    background-color: darkgray;
    margin-top: 40px;
    width: 50vw;
    font-size: 22px;
}

.timer {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    border-block: 5px black outset;
    border-radius: 19%;
    color: brown;
    font-family: monospace;
}

.scoreCard {
  background-color: peachpuff;
  margin: 3px;
  color: brown;
  width: 42vw;
  height: 29vh;
  padding: 2px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}


#scoreText {
  font-size: 16px;
  text-decoration: underline;
}

